.contact-nav {
  background: rgba(0, 0, 0, 0.3);
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  left: 89.5%;

  height: max-content;
  width: max-content;
  display: block;
  padding: 1.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  bottom: 78%;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

.contact-nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  color: var(--color-light);
  font-size: 1.1rem;
}

.contact-nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.contact-nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}
